%h3 Bikeway Segments

%table#segments.table-condensed.table-hover{ data: { source: bikeway_segments_url(format: 'json') }}
  %thead
    %tr
      %th id
      %th city_rid
      %th city_geo_id
      %th city_linear_feature_name_id
      %th city_object_id
      %th full_street_name
      %th address_left
      %th address_right
      %th odd_even_flag_left
      %th odd_even_flag_right
      %th lowest_address_left
      %th lowest_address_right
      %th highest_address_left
      %th highest_address_right
      %th from_intersection_id
      %th to_intersection_id
      %th street_classification
      %th bikeway_type
  %tbody

