// This is because Bootstrap uses box-sizing: border-box
// (.. and Google Maps doesn't)
// See http://getbootstrap.com/getting-started/#third-parties
.google-map-canvas,
.google-map-canvas * {
  @include box-sizing(content-box);
}

.google-map-canvas {
  display: block;
  #map {
    height: 500px;
  }

  // This fixes broken Google Maps: http://i.imgur.com/eP9r8QM.png
  // https://github.com/twbs/bootstrap/issues/1552
  img {
    max-width: none;
  }
}

.wide { width: 100%; }

#segments_filter input {
  @extend .input-lg;
}